[user]
        name = Marian Krekoten
        email = krekoten@gmail.com
        signingkey = 5139AEE055B90201
[credential]
        helper = osxkeychain
[commit]
        gpgsign = true
[gpg]
        program = /usr/local/bin/gpg
